:root {
  /* custom variables */
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --navBar: linear-gradient(to bottom, #f3f3f3, #480048);
}
body {
  /* !important flag required to override bootstrap */
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important; 
}

.text-title {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue)
}